extends layout.pug

block content
  section#content
    form(action="/hello", method="POST")
      label Please Enter Your Name:
        input(type="text", name="username")
      button(type="submit") Submit
