//- LANDING PAGE FOR ROOT ROUTE/PATH

doctype html
html(lang='en')
  head
    title Landing Page
  body
    h1 The Future Home of Something Dope
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo mollitia natus sequi cumque exercitationem, nam quibusdam aperiam, tenetur dolorem atque minima omnis accusamus laudantium? Quod aperiam reprehenderit atque obcaecati voluptatem.
